.blockFloatingMenuContainerOverlay {
  position: absolute;
  bottom: 0px;
  height: 100%;
  width: 100%;
  z-index: 201;
}
.bxy-floating-button-block-menu {
  position: absolute;
  display: grid;
  gap: 10px;
  bottom: 10px;
  right: 5px;
}
.bxy-floating-button-block-menu-grid-h {
  grid-template-columns: repeat(5, 3rem);
  grid-template-rows: 3rem;
}
.bxy-floating-button-block-menu-grid-v {
  grid-template-columns: 3rem;
  grid-template-rows: repeat(5, 3rem);
}

.bxy-floating-button-block-menu svg {
  width: 1.5rem;
  height: 1.5rem;
}
