.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  align-items: center;
  justify-content: center;
  display: block;
  top: 0;
  color: #000;
}
.wrapperPopUpBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px 40px 40px;
  gap: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  width: 80%;
  height: 160px;
  border: 8px double rgb(170, 7, 7);
  color: rgb(150 8 8);
  background: rgb(255, 255, 255);
  box-shadow: 5px 5px 10px 5px #0000009e;
  align-items: center;
}
.bxy_button--red {
  color: #ffffff;
  background-color: #cc3300;
  border: 1px solid #cc3300;
}
.bxy_button--red:hover {
  background-color: #993300;
  border: 1px solid #993300;
}
.bxy_button--red:active {
  border: 1px solid #cc3300;
  background-color: #cc3300;
}
.bxy_button--green {
  color: #ffffff;
  background-color: #527a00;
  border: 1px solid #527a00;
}
.bxy_button--green:hover {
  background-color: #005c00;
  border: 1px solid #005c00;
}
.bxy_button--green:active {
  border: 1px solid #527a00;
  background-color: #527a00;
}
