.wizard-radio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  color: #000;
  font-size: 1em;
  justify-items: center;
}
.containerRadio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.containerRadio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmarkRadio {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}
.containerRadio:hover input ~ .checkmarkRadio {
  background-color: #ccc;
  cursor: pointer;
}
.containerRadio input:checked ~ .checkmarkRadio {
  background-color: #2196f3;
}
.checkmarkRadio:after {
  content: "";
  position: absolute;
  display: none;
}
.containerRadio input:checked ~ .checkmarkRadio:after {
  display: block;
}
.containerRadio .checkmarkRadio:after {
  top: 6px;
  left: 6px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: white;
}
