.wizardWrapFunc-title h3 {
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
  color: #989797;
}
#window-dim {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999999999;
  display: none;
  align-items: center;
  justify-content: center;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 90;
  align-items: center;
  justify-content: center;
  display: block;
  top: 0;
}
.window-dim-code-default {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 400px;
  width: auto;
  height: auto;
}
.window-dim-code-wizard-bottom {
  width: 40%;
  height: 98vh;
}
.window-dim-code-wizard-left-right {
  width: 60%;
  height: 98vh;
}
.window-modal {
  background: #fff;
  padding: 20px;
  border-radius: 2px;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.change-wizard-grid {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 2px;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}
.change-wizard-grid:after {
  content: "b";
  background: #ccc;
  font-size: 1.4em;
  color: transparent;
  position: absolute;
}
.change-wizard-grid-bottom:after {
  transform: rotate(90deg);
  top: 4px;
  left: 4px;
}
.change-wizard-grid-right:after {
  right: 0;
}
.change-wizard-grid-active:after {
  background: #70c743;
}
.builder-tabs {
  display: grid;
  grid-template-columns: 80px 80px;
  column-gap: 3px;
  height: 40px;
  padding: 5px;
  border-bottom: 2px solid #3050f3;
  justify-content: left;
  align-items: center;
  position: relative;
  top: -15px;
}
.builder-tabs-tab {
  position: relative;
  top: 11px;
  left: -3px;
  text-align: center;
  font-size: 1rem;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}
.builder-tab-active {
  border: 3px solid #3050f3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: none;
}
.builder-tab-inactive {
  background: #dedede;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-style: italic;
  color: #808080;
}
.border-builder-clear {
  z-index: 1;
  position: relative;
  height: 4px;
  width: 74px;
  background: #fff;
  top: 0;
}
.border-builder-clear-m {
  left: 0px;
}
.border-builder-clear-w {
  left: 83px;
}
.window-modal #content {
  display: flex;
  margin: 10px 0;
  flex-direction: column;
}
.window-modal #title {
  color: #121212;
  font-size: 20px;
  margin-bottom: 10px;
}
.window-modal #select {
  display: flex;
  justify-content: flex-end;
}
.window-modal #select .button {
  padding: 10px;
  background: #0c66a0;
  color: #fff;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.window-modal #select .left {
  margin-right: 5px;
}
.window-modal #select .right {
  margin-left: 5px;
}
.window-modal #select .selected {
  background: #004a79;
}
.window-modal #title-in {
  border: 1px solid #b2b2b2;
  padding: 5px;
  outline: none;
  font-size: 18px;
}
.window-modal #buttons,
.window-modal #buttonsWizard {
  display: flex;
  justify-content: flex-end;
}
.window-modal #buttons .button,
.window-modal #buttonsWizard .button {
  padding: 10px;
  background: #0c66a0;
  color: #fff;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.wizard-all-zones {
  display: grid;
  grid-template-columns: 1fr;
}
.wizard-all-zones-left-right {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
}
.dragZone-builderItems {
  display: flex;
  padding: 5px;
  border: 2px solid #9e9e9e;
  border-radius: 5px;
  margin: 5px 0;
  height: 200px;
  overflow: auto;
}
.dragZone-builderItems-left {
  display: unset;
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  margin: 0;
  max-height: 100%;
}
.dragZone-builderItems-right {
  display: unset;
  grid-column: 3 / -1;
  grid-row: 1 / 1;
  margin: 0;
  max-height: 100%;
}
.wizzard-items {
  display: grid;
  padding: 1px;
  border-left: 1.5px solid #ccc;
  border-right: 1.5px solid #ccc;
}
.wizzard-items span {
  font-size: 1.5em;
  font-weight: bold;
  color: #726f6f;
  padding: 2px;
}
.wizzard-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}
.wizzard-box > div {
  margin: 6px;
}
.draggable {
  padding: 10px;
  border: 2px solid #000;
}
.wizard-box-value {
  text-align: left;
  border: none;
  outline: none;
  background: inherit;
  font-weight: bold;
  color: #000;
  font-size: 1.3em;
}
.new-wizard-box-title {
  position: relative;
  top: -53px;
  left: 5px;
  font-size: 1em;
  font-style: italic;
  color: red;
}
.new-wizard-box {
  position: relative;
  top: 6px;
}
.dropZone {
  padding: 5px;
  border: 2px solid #9e9e9e;
  border-radius: 5px;
  height: 435px;
  overflow: auto;
}
.dropZone:empty::before {
  content: attr(data-content);
  font-size: 2.5em;
  font-weight: bold;
  position: relative;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  color: #ccc;
}
.dropZone .draggable {
  margin: 1px 0;
}
.dropZone-container-left {
  grid-column: 2 /-1;
  max-height: 100%;
}
.dropZone-container-right {
  grid-column: 1 / 3;
  max-height: 100%;
}
.wizardForDrop {
  border: 1px solid #000000;
  overflow: auto;
  height: 137px;
  margin-bottom: 8px;
  padding: 0 2px;
  border-radius: 5px;
}
.wizardForDrop:last-child {
  margin-bottom: 0;
}
.wizardForDrop:empty::before {
  content: attr(data-content);
  font-weight: bold;
  text-align: center;
  color: #ccc;
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 1.4em;
  display: inline-block;
  transform: translate(-50%, -50%);
}
.wizardForDropTitle {
  color: #726f6f;
}
.wizard-expressions-container {
  display: flex;
  flex-direction: column;
}
.wizard-expressions-container-left-right {
  grid-column: 1 / -1;
  margin-top: 20px;
}
.expressionBuildedContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  border-radius: 5px;
}
.expressionBuildedContainer input[type="text"] {
  width: 98%;
  padding: 8px;
  outline: none;
  border: none;
  font-size: 1.3em;
  font-weight: bold;
  color: #000;
}
.realBuildedExpression {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.cloned {
  display: grid;
  grid-template-columns: 1fr 20px;
  column-gap: 2px;
}
.wizard-box-edit-dialog {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 500px;
  min-height: 130px;
  max-height: fit-content;
  background: #fff;
  border: 3px solid #15bf31;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.wizard-box-edit-dialog input {
  padding: 8px;
  width: 90%;
  justify-self: center;
}
.wizard-box-edit-dialog p {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
.wizard-box-edit-dialog h4 {
  font-size: 1.2em;
  color: #777;
  margin-left: 5px;
  margin-bottom: 5px;
}
.wizard-box-edit-dialog button {
  width: 80px;
  padding: 5px;
  justify-self: end;
  margin-right: 20px;
  background: green;
  color: #fff;
  border: none;
  border-radius: 3px;
  outline: none;
  height: 30px;
  margin-bottom: 10px;
  align-self: center;
}
.wizard-box-table-container {
  margin-top: 10px;
  padding: 0 5px;
  height: 120px;
  max-height: 280px;
  overflow: auto;
}
.wizard-box-table {
  display: grid;
  grid-template-columns: auto 150px 100px;
  align-items: center;
  border: 1px solid #ccc;
  font-size: 1.6em;
  padding: 4px 0;
}
.wizard-box-table-header {
  justify-items: center;
  background: #b0efb0;
}
.wizard-box-table-body h6 {
  padding: 1px 1px 1px 2px;
  font-size: 0.8em;
}
.wizard-box-table-body h6:nth-child(2),
.wizard-box-table-body h6:nth-child(3) {
  border-left: 1px solid #ccc;
}
#varDropZone,
.funcDropZone,
.varItemsDropZone,
.paramItemsDropZone {
  padding: 5px;
  height: 30px;
  border: 2px solid #dedede;
  border-radius: 3px;
  margin: 20px 6px;
  display: flex;
  align-items: center;
  font-size: 2em;
}
.funcVarItemsDropZone {
  width: 475px;
}
.wizard-wrapfunc-w {
  width: auto;
}
#varDropZone:empty::before,
#funcDropZone:empty::before {
  content: "Drop here";
  font-weight: bold;
  text-align: center;
  color: #ccc;
  position: relative;
  left: 38%;
}
#funcDropZone:empty::before {
  content: "Drop function here";
  left: 29%;
}
.dropZone-over {
  border: 4px dashed #ccc;
  background: #fffcf3;
}
#paramDropZone {
  border: 2px solid #ccc;
  max-height: 165px;
  overflow: auto;
}
.paramDropItem {
  height: 30px;
  padding: 5px;
  border: 2px dotted #ccc;
  margin: 3px 3px;
  display: flex;
  align-items: center;
}
.paramDropItem:empty::before {
  content: attr(data-content);
  font-weight: bold;
  text-align: center;
  color: #ccc;
  position: relative;
  left: 1%;
  font-size: 1.4em;
}
.defineWizardContainer {
  display: grid;
  grid-template-rows: 5px;
  margin-bottom: 15px;
}
#typeSizeContainer {
  grid-template-columns: 1fr 1fr;
  position: relative;
  top: -40px;
}
.defineSizeContainer {
  position: relative;
  top: -15px;
}
.varItemsDropZone:empty::before,
.paramItemsDropZone:empty::before {
  content: attr(data-content);
  font-weight: bold;
  text-align: center;
  color: #ccc;
}
.defineVarDragContainer {
  border: 2px solid #3050f3;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}
.defineItemsContainer {
  display: flex;
  margin-bottom: 5px;
  flex-wrap: wrap;
}
.defineItems,
.paramDefineItems {
  padding: 6px;
  text-align: center;
  font-size: 1.1rem;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 8px;
  min-width: 60px;
  font-weight: bold;
  cursor: pointer;
}
.input-wizard {
  pointer-events: none;
  background: #dbd7d7b5;
  font-size: 1.2rem;
}
.move-smooth {
  transition: transform 0.5s;
  transform: translateY(35px);
}
.wizardWrapFunc-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: #f5f5f5;
  box-shadow: 5px 5px 10px 5px #0000009e;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  min-width: 360px;
  max-width: 720px;
  max-height: 98vh;
  overflow: auto;
}
.wizardWrapFunc-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  align-items: center;
  font-size: 1.2rem;
}
.wizardWrapFunc-tab {
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 6px;
  background: #e5e5e5;
  color: #999;
  cursor: pointer;
}
.wizardWrapFunc-tab.wizardWrapFunc-tab-active {
  border-top: 2px solid #0c66a0;
  border-left: 2px solid #0c66a0;
  border-right: 2px solid #0c66a0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: #f5f5f5;
  color: #0c66a0;
  font-weight: bold;
}
.wizardWrapFunc-content-tab {
  width: 410px;
}
.wizardWrapFunc-content-tab .defineVarDragContainer {
  height: fit-content;
  overflow-y: auto;
}

.filter-tooltip {
  position: relative;
  display: inline-block;
  color: #006080;
}
.filter-tooltip i {
  color: #1b3f91;
  font-size: 1.8em;
  font-weight: bolder;
  cursor: pointer;
}
.filter-tooltip .filter-tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 250px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}
.filter-tooltip-left {
  top: -75px;
  bottom: auto;
  right: 128%;
}
.filter-tooltip-left::after {
  content: "";
  position: absolute;
  top: 39%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
}
.filter-tooltip-left p {
  line-height: 2em;
}
.filter-tooltip:hover .filter-tooltiptext {
  visibility: visible;
  opacity: 1;
}
.total-filter {
  margin-bottom: 10px;
  text-align: center;
  color: #555;
  font-size: 1.1em;
  font-weight: bold;
}

@media only screen and (max-width: 1500px) {
  .window-dim-code-wizard-bottom {
    width: 50%;
  }
  .window-dim-code-wizard-left-right {
    width: 70%;
  }
}

@media only screen and (max-width: 1200px) {
  .window-dim-code-wizard-bottom {
    width: 60%;
  }
  .window-dim-code-wizard-left-right {
    width: 80%;
  }
}
@media only screen and (max-width: 768px) {
  .flow-console {
    width: 200px;
  }
}
